@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  margin-top: 21px;
  margin-bottom: 10.5px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
}
